*{
    margin: 0;
    padding: 0;
}

.img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    object-fit: cover;
    /*border: 20px groove brown;*/
    /*border-radius:30px 10px 30px 10px;*/
    /*border-top-left-radius: 50px;*/
    /*border-top-left-radius: 20px;*/
    /*border-bottom-right-radius: 30px;*/
    /*border-bottom-right-radius: 100px;*/
    border-radius: 50%;
}

.card{
    margin: 20px auto;
    border: 1px solid black;
    width: 400px;
    height: auto;
    padding: 20px 0;
}

.cta {
    background: crimson;
    padding: 15px 0;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin: 20px auto;
    display: block;
    width: 150px;
    text-align: center;
}

.name{
    text-align: center;
    font-family: Arial;
}

