*{
    margin: 0;
    padding: 0;
}


.enlaces{
    text-decoration: none;
    background: crimson;
    color: white;
    display: inline-block;
    padding: 30px 20px;

}

.block{
    opacity: .5;
}

.header{
    height: 400px;
    background: crimson;
    color: white;
}